<launch>
  <arg name="device_ip" default="17"/>

  <!-- start nodelet manager and load driver nodelet -->
  <!-- <node pkg="nodelet" type="nodelet" name="velodyne_puck_nodelet_manager" args="manager" output="screen"/> -->

  <node pkg="nodelet" type="nodelet" name="velodyne_puck_driver_nodelet" args="load velodyne_puck_driver/VelodynePuckDriverNodelet
    velodyne_puck_nodelet_manager">
    <param name="device_ip" type="string" value="$(arg device_ip)"/>
    <remap from="~packet" to="packet"/>
  </node>

</launch>
