<launch>
  <arg name="frame_id" default="velodyne"/>
  <arg name="cloud" default="cloud"/>

  <!-- <node pkg="nodelet" type="nodelet" name="velodyne_puck_nodelet_manager" args="manager" output="screen"/> -->

  <node pkg="nodelet" type="nodelet" name="velodyne_puck_decoder_nodelet" args="load velodyne_puck_decoder/VelodynePuckDecoderNodelet
    velodyne_puck_nodelet_manager" output="screen">
    <param name="frame_id" value="$(arg frame_id)"/>

    <param name="min_range" value="0.3"/>
    <param name="max_range" value="100.0"/>

    <remap from="~cloud" to="$(arg cloud)"/>
    <remap from="~packet" to="packet"/>
    <remap from="~sweep" to="sweep"/>
  </node>

</launch>
