<launch>

  <arg name="device_ip" default="172.16.107.201"/>
  <arg name="frame_id" default="velodyne"/>

  <group ns="$(arg frame_id)">
    <node pkg="nodelet" type="nodelet" name="velodyne_puck_nodelet_manager" args="manager" output="screen"/>

    <include file="$(find velodyne_puck_driver)/launch/driver_nodelet.launch">
      <arg name="device_ip" value="$(arg device_ip)"/>
    </include>

  </group>

  <include file="$(find velodyne_puck_decoder)/launch/decoder_nodelet.launch">
    <arg name="frame_id" value="$(arg frame_id)"/>
  </include>

</launch>
