<launch>

  <include file="$(find velodyne_puck_driver)/launch/velodyne_puck_driver_nodelet.launch"/>

  <node pkg="nodelet" type="nodelet" name="velodyne_puck_decoder_nodelet"
    args="load velodyne_puck_decoder/VelodynePuckDecoderNodelet
    velodyne_puck_nodelet_manager"
    output="screen">
    <param name="min_range" value="0.3"/>
    <param name="max_range" value="100.0"/>
    <param name="frequency" value="20.0"/>
    <param name="publish_point_cloud" value="false"/>
    <param name="publish_scan_2d" value="false"/>
    <param name="scan_2d_index" value="7"/>
    <param name="scan_start_azimuth" value="4.7124"/>
    <param name="scan_end_azimuth" value="1.5708"/>
  </node>

</launch>
