<launch>

  <arg name="device_ip" default="172.16.107.201"/>
  <arg name="frequency" value="5.0"/>
  <arg name="fixed_frame_id" default="map"/>
  <arg name="child_frame_id" default="velodyne"/>
  <arg name="publish_cloud" default="true"/>

  <include file="$(find velodyne_puck_driver)/launch/velodyne_puck_driver_nodelet.launch">
    <arg name="device_ip" value="$(arg device_ip)"/>
    <arg name="frame_id" value="$(arg child_frame_id)"/>
  </include>

  <node pkg="nodelet" type="nodelet" name="velodyne_puck_decoder_nodelet" args="load velodyne_puck_decoder/VelodynePuckDecoderNodelet
    velodyne_puck_nodelet_manager" output="screen">
    <param name="fixed_frame_id" value="$(arg fixed_frame_id)"/>
    <param name="child_frame_id" value="$(arg child_frame_id)"/>

    <param name="min_range" value="0.3"/>
    <param name="max_range" value="100.0"/>
    <param name="frequency" type="double" value="$(arg frequency)"/>
    <param name="publish_cloud" type="bool" value="$(arg publish_cloud)"/>
  </node>

</launch>
