<launch>
  <arg name="pkg" value="velodyne_puck"/>

  <arg name="cloud" default="cloud"/>

  <arg name="frame_id" default="velodyne"/>
  <arg name="full_sweep" default="True"/>
  <arg name="image_width" default="1024"/>
  <arg name="organized" default="true"/>
  <arg name="min_range" default="1.0"/>
  <arg name="max_range" default="100.0"/>
  <arg name="precise" default="false"/>


  <node pkg="nodelet" type="nodelet" name="$(arg pkg)_decoder_nodelet" args="load $(arg pkg)/DecoderNodelet
    $(arg pkg)_nodelet_manager" output="screen">
    <param name="frame_id" type="string" value="$(arg frame_id)"/>
    <param name="min_range" type="double" value="$(arg min_range)"/>
    <param name="max_range" type="double" value="$(arg max_range)"/>
    <param name="image_width" type="int" value="$(arg image_width)"/>
    <param name="full_sweep" type="bool" value="$(arg full_sweep)"/>
    <param name="organized" type="bool" value="$(arg organized)"/>
    <param name="precise" type="bool" value="$(arg precise)"/>

    <remap from="~packet" to="packet"/>
    <remap from="~scan" to="scan"/>

    <remap from="~cloud" to="$(arg cloud)"/>
    <remap from="~image" to="image"/>
    <remap from="~camera_info" to="camera_info"/>
    <remap from="~intensity" to="intensity"/>
  </node>

</launch>
