<launch>
  <arg name="frame_id" default="velodyne"/>
  <arg name="cloud" default="cloud"/>
  <arg name="organized" default="true"/>
  <arg name="min_range" default="0.5"/>
  <arg name="max_range" default="100.0"/>
  <arg name="packet" default="packet"/>

  <node pkg="nodelet" type="nodelet" name="velodyne_puck_decoder_nodelet" args="load velodyne_puck/DecoderNodelet
    velodyne_puck_nodelet_manager" output="screen">
    <param name="frame_id" type="string" value="$(arg frame_id)"/>
    <param name="min_range" type="double" value="$(arg min_range)"/>
    <param name="max_range" type="double" value="$(arg max_range)"/>
    <param name="organized" type="bool" value="$(arg organized)"/>

    <remap from="~packet" to="$(arg packet)"/>

    <remap from="~range" to="range"/>
    <remap from="~intensity" to="intensity"/>

    <remap from="~cloud" to="$(arg cloud)"/>
    <remap from="~image" to="image"/>
    <remap from="~camera_info" to="camera_info"/>
  </node>

</launch>
