<launch>
  <arg name="pkg" value="velodyne_puck"/>

  <arg name="frame_id" default="velodyne"/>
  <arg name="full_sweep" default="True"/>
  <arg name="image_width" default="1024"/>
  <arg name="organized" default="true"/>
  <arg name="min_range" default="1.0"/>
  <arg name="max_range" default="100.0"/>

  <node pkg="$(arg pkg)" type="$(arg pkg)_decoder" name="$(arg pkg)_decoder" output="screen">
    <param name="frame_id" type="string" value="$(arg frame_id)"/>
    <param name="min_range" type="double" value="$(arg min_range)"/>
    <param name="max_range" type="double" value="$(arg max_range)"/>
    <param name="image_width" type="int" value="$(arg image_width)"/>
    <param name="full_sweep" type="bool" value="$(arg full_sweep)"/>
    <param name="organized" type="bool" value="$(arg organized)"/>

    <remap from="~packet" to="packet"/>

    <remap from="~cloud" to="cloud"/>
    <remap from="~image" to="image"/>
    <remap from="~camera_info" to="camera_info"/>
    <remap from="~intensity" to="intensity"/>
    <remap from="~range" to="range"/>
  </node>

</launch>
