<launch>
  <arg name="pkg" value="velodyne_puck"/>
  <arg name="device_ip" default="192.168.1.201"/>

  <node pkg="velodyne_puck" type="$(arg pkg)_driver" name="$(arg pkg)_driver" output="screen">
    <param name="device_ip" type="string" value="$(arg device_ip)"/>

    <remap from="~packet" to="packet"/>
    <remap from="~scan" to="scan"/>
  </node>

</launch>
