<launch>

  <!-- driver -->
  <arg name="driver" default="true"/>
  <arg name="device_ip" default="192.168.2.201"/>

  <!-- decoder -->
  <arg name="decoder" default="true"/>
  <arg name="packet" default="packet"/>
  <arg name="cloud" default="cloud"/>

  <arg name="frame_id" default="velodyne"/>
  <arg name="organized" default="true"/>
  <arg name="max_range" default="100.0"/>
  <arg name="batch_deg" default="360.0"/>

  <arg name="debug" default="false"/>
  <env if="$(arg debug)" name="ROSCONSOLE_CONFIG_FILE" value="$(find velodyne_puck)/launch/debug.conf"/>


  <group ns="$(arg frame_id)">
    <node pkg="nodelet" type="nodelet" name="velodyne_puck_nodelet_manager" args="manager" output="screen"/>

    <include file="$(find velodyne_puck)/launch/driver_nodelet.launch" if="$(arg driver)">
      <arg name="device_ip" value="$(arg device_ip)"/>
    </include>

    <include file="$(find velodyne_puck)/launch/decoder_nodelet.launch" if="$(arg decoder)">
      <arg name="frame_id" value="$(arg frame_id)"/>
      <arg name="cloud" value="$(arg cloud)"/>
      <arg name="packet" value="$(arg packet)"/>

      <arg name="organized" value="$(arg organized)"/>
      <arg name="batch_deg" value="$(arg batch_deg)"/>
      <arg name="max_range" value="$(arg max_range)"/>
    </include>
  </group>

</launch>
