<launch>

  <arg name="device_ip" default="172.16.107.201"/>
  <arg name="frame_id" default="velodyne"/>
  <!-- whether to run driver -->
  <arg name="driver" default="true"/>
  <!-- name of the output cloud -->
  <arg name="cloud" default="cloud"/>

  <group ns="$(arg frame_id)">
    <node pkg="nodelet" type="nodelet" name="velodyne_puck_nodelet_manager" args="manager" output="screen"/>

    <include file="$(find velodyne_puck)/launch/driver_nodelet.launch" if="$(arg driver)">
      <arg name="device_ip" value="$(arg device_ip)"/>
    </include>

    <include file="$(find velodyne_puck)/launch/decoder_nodelet.launch">
      <arg name="frame_id" value="$(arg frame_id)"/>
      <arg name="cloud" value="$(arg cloud)"/>
    </include>
  </group>

</launch>
